.wind-dial-text {
  font: 14px times;
}

.wind-dial-mph {
  font: 14px times;
}

.wind-dial-latest-reading {
  font: 12px times;
}

.wind-dial-speed {
  font: 12px times;
}

.wind-dial-info {
  font: 12px times;
}
  