
.history-container {
    text-align: center;
    padding-bottom: 20px;
}

.history-button {
    margin: 5px;
}

.history-title {
    margin-bottom: 0;
}

.key-container {
    padding-bottom: 20px;
}

.line-history-container {
    padding-bottom: 20px;
}

.circle-history-container {
    padding-bottom: 20px;
}